.tps-theme {
  &--company-title {
    border-bottom: none;
    padding-bottom: 0;
    text-transform: capitalize;
    margin-top: 10px;
  }

  &--social-security-number {
    width: 85px !important;
    box-sizing: border-box !important;
    &__label {
      width: 96px !important;
      text-align: center !important;
      justify-content: center !important;
      box-sizing: border-box !important;
    }
  }

  &--hourly-rate {
    width: 141px !important;
    box-sizing: border-box !important;
    &__label {
      background-color: #f0f0f0 !important;
      width: 40px !important;
      text-align: center !important;
      justify-content: center !important;
      box-sizing: border-box !important;
    }
  }

  &--divider {
    background-color: #f0f0f0;
    height: 1px;
    border: 0;
  }

  &--pay-date {
    display: flex;
    width: 100%;
    height: 32px;
    background: rgba(38, 38, 38, 0.9);
    border-radius: 5px;
    margin-bottom: 16px;
    span {
      color: white;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      display: flex;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      text-align: center;
      padding-left: 16px;
    }
  }

  &--special-tax-exemptions {
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #1d1d1d;
  }

  &--sapf {
    margin-top: 25px;
  }

  &--checkbox {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item {
      width: 48%;
    }
  }

  &--show-container {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2px;
    &__subtitle {
      font-size: 15px;
      font-style: italic;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #0078c2;
    }
  }

  &--required {
    &__title {
      margin-bottom: 10px;
    }
    &__star {
      color: red !important;
    }
    &__content {
      padding-left: 5px;
    }
  }

  &--hop {
    &:focus {
      border-color: #37393d !important;
    }
  }

  &--cl {
    &::after {
      background-color: #0078c2 !important;
      color: white !important;
    }
  }

  &--add-deductions {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #0078c2;
  }

  &--add-special-tax {
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #0078c2;
  }

  &--ca {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 203px;
    height: 40px;
    background: #0078c2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
      width: 193px;
      height: 26px;
      left: 10px;
      top: calc(50% - 26px / 2 - 1px);
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;
    }
    &:hover {
      background-color: #008de3;
    }
  }
}

input[type="text"] {
  font-size: 16px;
  background: #f0f0f0;
  border: 1px solid #6a6a6a !important;
  border-radius: 5px;
}

input[type="file"] {
  font-size: 16px;
  background: #f0f0f0;
  border: 1px solid #6a6a6a !important;
  border-radius: 5px;
}

select {
  font-size: 16px;
  background: #f0f0f0;
  border: 1px solid #6a6a6a !important;
  border-radius: 5px;
}

input[type="text"]:focus {
  font-size: 16px;
  background: #f0f0f0;
  border: 1px solid #6a6a6a;
  border-radius: 5px;
}
