.tps-theme {
  &--ssn {
    width: 85px !important;
    box-sizing: border-box !important;
    &__label {
      width: 96px !important;
      text-align: center !important;
      justify-content: center !important;
      box-sizing: border-box !important;
    }
  }

  &--hr {
    width: 141px !important;
    box-sizing: border-box !important;
    &__label {
      background-color: #f0f0f0 !important;
      width: 40px !important;
      text-align: center !important;
      justify-content: center !important;
      box-sizing: border-box !important;
    }
  }

  &--wl {
    &__star {
      color: red !important;
    }
    &__content {
      padding-left: 5px;
    }
  }

  &--hop {
    &:focus {
      border-color: #37393d !important;
    }
  }

  &--cl {
    &::after {
      background-color: #0078c2 !important;
      color: white !important;
    }
  }
}

.form-input {
  &__ssn {
    width: 85px;
  }
}
