.tps-theme {
  &--money {
    background-image: url(/bundles/thepaystubswebsite/images/dollar-sign.svg);
    background-position: 0;
    border-radius: 5px;
    padding-left: 65px;
  }

  &--ssn {
    width: 85px !important;
    &__label {
      width: 96px;
      text-align: center;
      justify-content: center;
    }
  }

  &--wl {
    &__star {
      color: red !important;
    }
    &__content {
      padding-left: 5px;
    }
  }

  &--hop {
    &:focus {
      border-color: #37393d !important;
    }
  }

  &--cl {
    &::after {
      background-color: #0078c2 !important;
      color: white !important;
    }
  }
}

.form-input {
  &__ssn {
    width: 85px;
  }
}
